:root{
    --colors1: #FF6B35; /* Black */
    --colors2: #F7C59F; /* Black */
    --colors3: #EFEFD0; /* Black */
    --colors4: #004E89; /* White */
    --colors5: #1A659E; /* White */
}

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    background-color: var(--colors4);
    width: 80rem;
    margin: 0 auto;
    color: var(--colors3);

}

fieldset{
    border-radius: 1rem;
}

table{
    border: .1rem solid var(--colors3);
    border-radius: 1rem;
    
}

td, th{
    padding: .5rem;
}

header{
    display: flex;
    flex-direction: row;
}

img{
    width: 30rem;
}
a{
    color: var(--colors3);
    text-decoration: none;
}

a:hover{
    color: var(--colors1)
}


